<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>

    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }

        .list table th, .list table td {
            border: solid 1px #000;
        }

        p.nothing {
            text-align: center;
            padding: 100px;
        }

        .pager{
            margin-top: 20px;
            text-align: center;
        }

        .pager on{
            font-weight: bold;
            color: red;

        }

    </style>

    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {

        })
    </script>
</head>
<body>
<h1>강좌 관리</h1>
<div>
    <a href="/admin/course/add.do">강좌 등록</a>
</div>
<div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>

<div class="list">
    <!--        <div th:text="${list}"></div>-->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>
                강좌명
            </th>
            <th>
                등록일
            </th>
        </tr>
        </thead>
        <tr th:each="x :${list}">
            <td th:text="${x.seq}">1</td>
            <td>
                <p th:text="${x.subject}">
                    <a href="'/edit.do?id='+ ${x.id}"
                       th:text="${x.subject}">강좌명</a>
                </p>
            </td>
            <td>
                <p th:text="${x.regDt}">등록일</p>
            </td>
        </tr>
        </tbody>
        <tbody>

        </tbody>
    </table>

    <div class="pager" th:utext="${pager}">

    </div>


</div>

</body>
</html>