<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 성공페이지</title>
</head>
<body>
    <div>
        <div th:if="${result eq true}">
            <h1>회원가입 완료</h1>
            <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
            <p>회원 가입이 완료 되었습니다 입력하신 이메일을 통해서 인증을 완료해주세요</p>
        </div>
        <div th:if="${result eq false}">
            <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
            <h1>회원가입 결과</h1>
            <p>회원 가입이 실패하였습니다</p>
        </div>
    </div>

</body>
</html>