<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.admin.mailtemplate.mapper.MailtemplateMapper">

    <sql id="selectListWhere">
    </sql>

    <select id="selectListCount" resultType="long">
        select count(*)
        from mailtemplate
        where 1 = 1
            <include refid="selectListWhere"/>
    </select>

    <select id="selectList" resultType="com.zerobase.fastlms.admin.mailtemplate.dto.MailtemplateDto">
        select *
        from mailtemplate
        where 1 = 1
            <include refid="selectListWhere"/>

        limit #{pageStart}, #{pageEnd}
    </select>

</mapper>
